<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:填写映射当前的Mapper接口，所有的增删改查的参数和返回值类型，
		就可以直接填写缩写，不区分大小写，直接通过方法名去找类型-->
<mapper namespace="com.software.dao.AdminDao">

    <update id="update" parameterType="Admin">
        update user
        set uid=#{uid},upwd=#{upwd},uname=#{uname}
        where uid=#{uid} and authority=1
    </update>

    <delete id="delete" parameterType="int">
        delete from user
        where uid=#{uid} and authority=1
    </delete>

    <select id="findAll" resultType="Admin">
        select *
        from user
        where authority=1
    </select>

    <select id="findById" parameterType="int" resultType="Admin">
        select *
        from user
        where uid=#{uid} and authority=1
    </select>

    <select id="findByname" parameterType="String" resultType="Admin">
        select *
        from user
        where uname=#{uname} and authority=1
    </select>

    <insert id="add" parameterType="Admin" >
        insert into user(upwd,uname,authority)
        values(
          #{upwd},#{uname},1
        )
    </insert>

</mapper>
