<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:填写映射当前的Mapper接口，所有的增删改查的参数和返回值类型，
		就可以直接填写缩写，不区分大小写，直接通过方法名去找类型-->
<mapper namespace="com.software.dao.UserDao">

    <select id="findAll" resultType="User">
        select *
        from user
        where authority=0
    </select>

    <select id="findById" parameterType="int" resultType="User">
        select *
        from user
        where authority=0 and uid=#{uid}
    </select>

    <select id="findByname" parameterType="String" resultType="User">
        select *
        from user
        where authority=0 and uname=#{uname}
    </select>

    <update id="update" parameterType="User" >
        update user
        set uid=#{uid},upwd=#{upwd},uname=#{uname},gender=#{gender},introduction=#{introduction},phone=#{phone}
        where uid=#{uid} and authority=0
    </update>

    <delete id="delete" parameterType="int">
        delete from user
        where uid=#{uid} and authority=0
    </delete>

</mapper>
